.jsk{
    color: white;
    background-color: green;
    font-family: 'Courier New', Courier, monospace
}

.tun{
    color: white;
    background-color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}